@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');


/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 15px;
}

/* NAVIGATION */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.nav-bar-link {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;  
}
.nav-bar-link:hover {
  background-color: #f05f8b;
  border-radius: 8px;
  color: white;
}


/* HOMEPAGE */
.story-img {
  justify-self: center;
  cursor: grab;
  margin-right: 10px;
  width: 100%;
  height: auto;
}


.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.home-content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.availability {
  text-align: center;
}


.logo {
  font-family: 'Clicker Script', cursive;
  font-size: 2em;
  margin-right: 20px;
}

.logo-link {
  text-decoration: none;
}

h6 {
  text-align: center;
  margin-top: 50px;
  font-size: small;
  color: rgb(192, 192, 192);
}

.btn-count-dogs {
  margin: .5em;
}

#dogcount{
  font-weight: bold;
  font-size: 1.1em;
}


/* DOG GALLERY */




/* CONTACTS */

.contact-list li {
  padding: 5px;
  list-style: none;
}

.contact-list {
  padding: 20px 60px;
  border: 1px dashed gray;
}

.dog-data {
  color: #4f4f4f;
  font-weight: bold;
}


.contact {
  margin-left: 20px;
  display: flex;
  padding: 20px;
  justify-items: center;
  
}
.container-contacts {
  display: flex;
  justify-content: center;
}
.find-us {
  color: #f1356d;
  font-size: 1.2em;
}

/* STORY */

.main-about {
  display: flex;
  align-items: space-between;
  border: 1px dashed rgb(184, 184, 184);
  padding: 15px;
  width: 60%;
  align-items:center;
}

.img-box-about {
  display: flex;
  align-items: center;
}

.about-us-container {
  display: flex;
  justify-content:center;
}


.txt-box-about {
  margin-left: 10px;
}

.txt-box-about h1,h3 {
  margin: 10px 0px;
}

.story-img {
  float: center;
}









/* new gallery styles  */

.img-gallery {
  border: 2px solid white;
  outline: 1px solid gray;
  margin: 10px;
}

.main-div-gallery {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes-text {
  font-size: small;
  font-weight: bold;
}

.likes-button {
  font-size: small;
}


.box-gallery {
  padding: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3em;
  max-width: 200px;
  min-height: 300px;
  margin: 1em;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dog-info {
  padding: 0 .5em;
  /* border: 1px solid brown; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.img-likes {

  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-liked {
  font-size: .9em;
  text-align: center;
  padding: .5em;  
}

.dog-name {
  font-size: 2em;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Clicker Script', cursive;
  font-weight: 500;
  margin-block-end: 0;
}

.dog-info p {
  font-size: small;
}
.dog-info span {
  font-weight: 800;
}

.d-info {
  justify-content: flex-start;
  /* border: 1px solid red; */
  width: 100%;
}

.likes {
  margin-top: .5em;
  padding: .1em 1.2em;
  border-radius: 8px;
  border: 1px solid gray;
}

.likes:hover {
  background-color: #ee80a1;
  border-radius: 8px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
}


.heart-like {
  margin-right: .4em;
}